[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
common = "*"
atomicwrites = "==1.4.0"
attrs = "==19.3.0"
certifi = "==2022.12.7"
chardet = "==3.0.4"
click = "==7.1.2"
colorama = "==0.4.3"
fastapi = "==0.60.1"
h11 = "==0.9.0"
idna = "==2.10"
more-itertools = "==8.4.0"
pluggy = "==0.13.1"
py = "==1.10.0"
pydantic = "==1.6.1"
pyparsing = "==2.4.7"
pytest = "==5.4.3"
requests = "==2.24.0"
six = "==1.15.0"
starlette = "==0.13.6"
urllib3 = "==1.25.10"
uvicorn = "==0.11.7"
wcwidth = "==0.2.5"
websockets = "==8.1"
flake8 = "*"
allure-pytest = "*"

[requires]
python_version = "3.9"
